<div [hidden]="bookedRooms">
    <mat-grid-list cols="2" rowHeight="250px" >
        <mat-grid-tile>
            <div>
                <div [ngStyle]="{'color': room.booked ? 'red':'' }">
            <p>Room Number: {{room.roomNumber}}</p>
            <p>Room Name: {{room.roomName}}</p>
            <p>Room Price: {{room.price}}</p>
            <p>Number Of Guests: {{room.numberOfGuests}}</p>
        </div>
            <button mat-stroked-button [disabled]="room.booked"(click)="bookForm()">Book Room</button><br/>
            <button mat-stroked-button [disabled]="!room.booked" [class.is-hidden]="adminsButtons" (click)="releaveRoom()">Releave</button><br/>
            <button mat-stroked-button [disabled]="room.booked" [class.is-hidden]="adminsButtons" (click)="closeRoom()">Remove Room</button><br/>
        </div>
        </mat-grid-tile>
    </mat-grid-list>
</div><br/>
