.navbar{
    justify-content: space-between;
}

.homebutton{
    cursor: pointer;
}

.footer{
    background-color:#7F00FF;
    padding:10px;
    text-align:center;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 98.7%;
  }
