<div class="bookingbody">
    <button mat-mini-fab class="backButton" (click)="back()">Back</button>
    <h1>Booking Form</h1>
    <form [formGroup]="bookingForm" (ngSubmit)="reserve()">
        <div>
            <mat-form-field>
                <mat-label for="guestName">Full Name</mat-label>
                <input matInput type="text" formControlName="guestName">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label for="guestEmail">Email</mat-label>
                <input type="text" matInput formControlName="guestEmail">
            </mat-form-field>
        </div>
        
        <div>
            <mat-form-field>
                <mat-label for="phone">Phone</mat-label>
                <input matInput formControlName="phone" oninput="if(value.length>10){
                    value = value.slice(0,10);
                  }" type="number">
            </mat-form-field>
        </div>
        <div >
            <mat-label for="dateIn">Date</mat-label>
            <mat-date-range-input class="date" [rangePicker]="myDatePicker" [min]="minDate" >
                <input matStartDate formControlName="dateIn" placeholder="Start Date">
                <input matEndDate formControlName="dateOut" placeholder="End Date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
            <mat-date-range-picker #myDatePicker></mat-date-range-picker>
        </div>
        <div>
            <button mat-stroked-button type="submit" [disabled]="!bookingForm.valid">Reserve Room</button>
        </div>
    </form>
</div>
